.image-gallery {
  background-color: rgba(0, 0, 0, 0.02);
  color: black;
  opacity:0.5;
  transition: opacity 0.7s ease-in-out;
  padding: 3rem 0;
  border-radius: 0.5rem;
}

.image-gallery:hover {
  opacity: 1;
}

.scrolling-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  position: relative;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.scrolling-wrapper .card {
  display: inline-block;
  margin: 0.75rem;
  width: 200px;
}

.scrolling-wrapper img {
  width: 100%;
  height: auto;
}

/* Scroll buttons */
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), transparent);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: opacity 0.3s;
}

.scroll-btn.left {
  left: 0;
  opacity: 0.2;
  background: transparent;
  border-radius: 8px;
}

.scroll-btn.right {
  right: 0;
  opacity: 0.2;
  background: transparent;
}

.scroll-btn:hover {
  opacity: 0.9;
}
